# Dependencies
node_modules/

# Cache
.cache/

# OS
.DS_Store

# Build outputs
build/
dist/

# Environment
.env
.env.*
!.env.example

# Debug logs
yarn-debug.log*
yarn-error.log*

# Project-specific
rover-management
